page-login {
    .video {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
        }
        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-width: 100%;
            min-height: 100%;
            filter: blur(1px);
        }
    }
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 10px 0 30px;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateX(-50%);
        left: 50%;
    }
    .logo {
        text-align: center;
        padding: 20px 20px 10px;
        img {
            height: 90px;
            width: auto;
        }
    }
    .slogan {
        text-align: center;
        padding: 0 20px;
        margin: 0;
        color: #fff;
        font-size: 16px;
        //text-shadow: 1px 1px 1px #000;
        @media screen and (max-height:450px) {
            display: none;
        }
    }

    .field-login {
        margin: 10px 20px;
        position: relative;
        .field-icon {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            color: #95989a;
            font-size: 16px;
        }
        .see-password {
            position: absolute;
            z-index: 2;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: #95989a;
            font-size: 20px;
            &.off {
                display: none;
            }
        }
        &.password-visible {
            .see-password.off {
                display: block;
            }
            .see-password.on {
                display: none;
            }
        }
        input {
            background: #fff;
            border-radius: 20px;
            height: 42px;
            padding: 0 40px;
            margin: 0;
            width: 100%;
            font-size: 16px;
            color: #95989a;
        }
    }
    .reset-password {
        margin: 20px;
        button {
            font-size: 16px;
            color: #fff;
            background: none;
            width: 100%;
            text-align: center;
            //text-shadow: 1px 1px 1px #000;
        }
    }

    .btn-login {
        margin: 10px 20px;
        button {
            background: #2699FB;
            height: 42px;
            border-radius: 20px;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
        }
    }
}
