<div class="video">
  <video autoplay muted loop preload="auto" webkit-playsinline>
    <source src="assets/video/login.mp4" type="video/mp4">
  </video>
</div>

<ion-content>

  <div class="logo">
    <img src="assets/img/login/app-logo.svg" />
  </div>
  <p class="slogan">
    Seja bem-vindo ao Opus, <br/>uma inovação prática para o <br/>acompanhamento da sua reforma.
  </p>

  <form (submit)="doLogin()">
    <ion-list>
      <div class="field-login">
        <ion-icon name="mail" class="field-icon"></ion-icon>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </div>

      <div class="field-login field-login-password">
        <ion-icon name="lock" class="field-icon"></ion-icon>
        <ion-input type="password" [(ngModel)]="account.password" name="password" id="password"></ion-input>
        <ion-icon name="eye" class="see-password on" (click)="seePassword()"></ion-icon>
        <ion-icon name="eye-off" class="see-password off" (click)="seePassword()"></ion-icon>
      </div>

      <div class="reset-password">
        <button>Não consegue acessar a sua conta?</button>
      </div>

      <div class="btn-login">
        <button ion-button color="primary" block>Entrar</button>
      </div>
    </ion-list>
  </form>
</ion-content>
