<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Cronograma" tabIcon="ios-list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Notificações" tabIcon="ios-notifications"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Equipe" tabIcon="ios-people"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mensagens" tabIcon="ios-chatbubbles-outline"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Ao vivo" tabIcon="ios-eye-outline"></ion-tab>
</ion-tabs>