<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      Resultado
    </ion-item>
    <ion-item>
      Resultado
    </ion-item>
    <ion-item>
        Resultado
    </ion-item>
  </ion-list>
</ion-content>
