page-item-detail {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
    }

    .item-detail {
        width: 100%;
        background: white;
        position: absolute;
    }

    .btn-contact {
        width: 48%;
        background: transparent;
        color: #737373!important;
        border: none;
        box-shadow: none;

        &:hover {
            color: #fff;

            .icon-button {
                color: #fff;
            }
        }
    }

    .gallery {
        position: relative;

        .icon-status {
            font-size: 50px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            z-index: 2;
        }
    }

    .info-header {
        text-align: center;
        margin: 25px 0 10px;

        h3 {
            font-size: 18px;
            margin: 5px 0;
        }

        h2 {
            font-size: 20px;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
            margin: 5px 0;
        }
    }

    .info-content {
        text-align: center;
        border-top: 1px solid #707070;

        h2 {
            font-size: 18px;
            color: #707070;
            margin: 10px 0;
        }

        p {
            font-size: 16px;
            color: #707070;
        }
    }

    .gray {
        color: #95989A;

        .icon-button {
            margin-right: 10px;
            color: #95989A;
        }
    }

    .orange {
        color: #FB8226;

        .icon-button {
            margin-right: 10px;
            color: #FB8226;
        }
    }

    .blue {
        color: #2699FB;

        .icon-button {
            margin-right: 10px;
            color: #2699FB;
        }
    }
}
