<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="gallery" *ngIf="item.gallery">
    <ion-slides *ngIf="item.gallery.length >= 1">
      <ion-slide *ngFor="let item of item.gallery">
        <img src="{{item}}" />
      </ion-slide>
    </ion-slides>

    <ion-icon name="alert" class="icon-status orange" *ngIf="statusColor == 'orange'"></ion-icon>
    <ion-icon name="checkmark-circle" class="icon-status blue" *ngIf="statusColor == 'blue'"></ion-icon>
  </div>

  <div class="gallery" *ngIf="!item.gallery">
    <ion-slides>
      <ion-slide>
        <img src="assets/img/default.jpg" />
      </ion-slide>
    </ion-slides>
    <ion-icon name="alert" class="icon-status orange" *ngIf="statusColor == 'orange'"></ion-icon>
    <ion-icon name="checkmark-circle" class="icon-status blue" *ngIf="statusColor == 'blue'"></ion-icon>

  </div>


  <ion-row class="info-header">
    <ion-col col-12>
        <h3 class="colored-item" [ngClass]="statusColor">{{item?.finishAt}}</h3>
        <h2 [ngClass]="statusColor">{{item?.name}}</h2>
        <p [ngClass]="statusColor">{{item?.category}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="info-content" *ngIf="item.description[0].mensage">
    <ion-col col-12>
      <h2>Descrição</h2>
      <p>{{item?.description[0].mensage}}</p>

    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <button class="btn-contact" [ngClass]="statusColor" ion-button>
    <ion-icon class="icon-button" name="ios-call"></ion-icon>
    Telefonar
  </button>

  <button class="btn-contact" [ngClass]="statusColor" ion-button (click)="chat()">
    <ion-icon class="icon-button" name="ios-chatbubbles"></ion-icon>
    Chat
  </button>
</ion-footer>