chat-master {
    .ion-title {
        color: #7D7D7D;
        font-size: 18px;
    }

    ion-navbar {
        .button-inner {
            color: #7D7D7D;
        }
    }

    .toolbar-title {
        color: #7D7D7D;
        padding: 0 13px;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .message {
        &.cliente {
            display: flex;
            flex-direction: row-reverse;
            .input-wrapper {
                border-radius: 30px 0 30px 0;
            }
        }
        .input-wrapper {
            border: 1px solid #8A8A8A;
            margin: 15px;
            padding: 10px 20px;
            border-radius: 0 30px 0 30px;
        }
        .label {
            margin: 0;
        }
        h2 {
            color: #737373;
            font-weight: bold;
            font-size: 14px;
        }
        p {
            font-size: 14px;
            color: #707070;
        }
    }
    .form {
        input[type=text] {
            border: 1px solid #A7A7A7;
            margin: 0;
            height: 40px;
            width: 100%;
            border-radius: 20px;
            padding: 0 50px 0 20px;
        }
        button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
