<ion-header>

  <ion-navbar>
    <ion-title class="ion-title">Chat</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of currentItems" class="message" [ngClass]="{'cliente' : item.user.function == 'Cliente' }">
      <h2>{{item.message}}</h2>
      <p>Date: {{item.createAt}}</p>
      <p>Função: {{item.user.function}}</p>
      <p>Nome: {{item.user.name}}</p>
      <ion-avatar item-start>
        <img [src]="item.user.thumb">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="form">
  <ion-row>
    <ion-col col-12>
      <ion-input id="mensagem" [(ngModel)]="newMessage" placeholder="Digite sua dúvida"></ion-input>
      <button ion-button (click)="addItem()">
        <ion-icon name="return-left"></ion-icon>
      </button>
    </ion-col>

  </ion-row>

</ion-footer>