<ion-header>
  <ion-navbar>
    <ion-title class="ion-title">Ao Vivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="video">
    <video autoplay muted loop preload="auto" webkit-playsinline>
      <source src="assets/video/live2.mp4" type="video/mp4">
    </video>
  </div>
</ion-content>