page-live {
    .ion-title {
        color: #7D7D7D;
    }

    ion-navbar {
        .button-inner {
            color: #7D7D7D;
        }
    }

    .video {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            filter: blur(1px);
        }
    }

    .toolbar-title {
        color: #7D7D7D;
        padding: 0 13px;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }
}
