<ion-header>

  <ion-navbar>
    <ion-title class="ion-title">FAQ</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of currentItems" class="faq-item">
      <h2>{{item.question}}</h2>
      <p>{{item.answer}}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <button class="btn-contact" ion-button>
    <ion-icon class="icon-button"  name="ios-call"></ion-icon>
    Telefonar
  </button>

  <button class="btn-contact" ion-button (click)="chat()">
    <ion-icon class="icon-button" name="ios-chatbubbles"></ion-icon>
    Chat
  </button>
</ion-footer>