page-settings {
    .ion-title {
        color: #7D7D7D;
    }

    ion-navbar {
        .button-inner {
            color: #7D7D7D;
        }
    }

    .toolbar-title {
        color: #7D7D7D;
        padding: 0 13px;
        font-size: 18px;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .icon-button {
        margin-right: 10px;
        color: #2699FB;
    }

    .btn-contact {
        width: 48%;
        background: transparent;
        color: #737373;
        border: none;
        box-shadow: none;

        &:hover {
            color: #fff;

            .icon-button {
                color: #fff;
            }
        }
    }

    .faq-item {
        padding: 10px;
        border-bottom: 1px solid #C4C4C4;
        &:nth-last-child(1) {
            border-bottom: 0;
        }
        h2 {
            font-size: 17px;
            color: #757575;
            font-weight: 600;
            white-space: normal;
        }
        p {
            font-size: 14px;
            margin: 10px 0 0;
            white-space: normal;
        }
    }
}
