page-notification {
    .toolbar-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .toolbar-title {
        font-size: 18px;
        color: #7D7D7D;
    }

    .search {
        font-size: 22px;
        color: #7D7D7D;
        padding: 10px;
    }

    .notification-item {
        border-bottom: 1px solid #E5E5E5;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border: 1px solid #a6a59e;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }
    }

    .description {
        h2 {
            font-size: 14px;
            color: #737373;
            margin: 5px 0;
        }

        p {
            font-size: 14px;
            color: #737373;
            margin: 5px 0;
        }
    }
}
