<ion-header>
  <ion-navbar>
    <ion-title class="page-title">Notificações</ion-title>
    <ion-icon name="search" class="search" (click)="presentModal()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let item of currentItems" class="notification-item">
      
      <ion-col col-2 class="avatar">
        <img src="{{item.thumb ? item.thumb : 'http://espacorevestirmogi.com.br/wp-content/uploads/2017/06/logo-deca.png'}}" />
      </ion-col>

      <ion-col col-10 class="description">
        <h2>{{item.message}}</h2>
        <p>{{item.user.name}} - {{item.createAt}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>