.toolbar-background-md {
    background: #fff !important;
}

.ion-title {
    color: #7D7D7D;
}

ion-navbar {
    .button-inner {
        color: #7D7D7D;
    }
}

.toolbar-title, .toolbar-title-md {
    color: #7D7D7D;
    padding: 0 13px;
}


