page-list-master {
    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .slides {
        height: 187px;
    }

    .item-md {
        padding-left: 23px;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
    }

    .colored-item {
        &.disable {
            color: #737373 !important;
        }

        &.blue {
            color: #2699FB !important;
        }

        &.warning {
            color: #FB8226 !important;
        }
    }

    .icon-list {
        position: absolute;
        display: flex;
        align-items: center;
        left: 17px;
        top: 20px;
        height: 38px;
        background-color: #fff;
    }

    ion-list > .list-items:first-child {
        .icon-list {
            margin: -30px 0 0 0;
            height: 60px;
            padding-bottom: 7px;
            align-items: flex-end;
        }

        .item-inner {
            margin-bottom: 0px;
        }
    }

    ion-list > .list-items:last-child {
        .icon-list {
            margin: -1px  0 -30px 0;
            height: 75px;
            padding-top: 7px;
            align-items: flex-start;
        }

        .item-inner {
            margin-bottom: 0px;
            border-left: none;
        }
    }

    .blue {
        .item-inner {
            padding-left: 24px;
            border-left: 1px solid #737373;
        }
    }

    .warning {
        .item-inner {
            padding-left: 24px;
            border-left: 1px solid #FB8226;
        }
    }

    .disable {
        .item-inner {
            padding-left: 24px;
            border-left: 1px solid #737373;
        }
    }
}
