<ion-header>

  <ion-navbar>
    <ion-title class="ion-title">Cronograma</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding class="list-items {{ item.status == 'finalizado' ? 'blue' : (item.status == 'finalizado com atraso') ? 'warning' : 'disable'}}"
      *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-icon *ngIf="item.status == 'finalizado'" class="icon-list colored-item blue" name="checkmark-circle"></ion-icon>
        <ion-icon *ngIf="item.status == 'em andamento'" class="icon-list colored-item disable" name="radio-button-off"></ion-icon>
        <ion-icon *ngIf="item.status == 'finalizado com atraso'" class="icon-list colored-item warning" name="alert"></ion-icon>

        <ion-row>
          <ion-col class="flex-between" col-12>
            <!-- <h2 class="colored-item blue">{{ item?.percent }}</h2> -->
            <h2 class="colored-item {{ item.status == 'finalizado' ? 'blue' : (item.status == 'finalizado com atraso') ? 'warning' : 'disable'}}">
              <strong>{{ item?.category }}</strong>
            </h2>
            <ion-icon class="colored-item {{ item.status == 'finalizado' ? 'blue' : (item.status == 'finalizado com atraso') ? 'warning' : 'disable'}}"
              name="ios-arrow-forward"></ion-icon>
          </ion-col>
          <ion-col class="flex-between" col-12>
            <p class="colored-item {{ item.status == 'finalizado' ? 'blue' : (item.status == 'finalizado com atraso') ? 'warning' : 'disable'}}">{{item?.name}}</p>
            <p class="colored-item {{ item.status == 'finalizado' ? 'blue' : (item.status == 'finalizado com atraso') ? 'warning' : 'disable'}}">{{ item.showAt | amLocale:'pt-BR' | amDateFormat: 'DD/MM/YYYY HH:mm'}}</p>
          </ion-col>
        </ion-row>

        <ion-slides *ngIf="item.gallery">
          <ion-slide *ngFor="let item of item.gallery">
            <img src="{{item}}" />
          </ion-slide>
        </ion-slides>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>