page-users {
    .toolbar-title {
        font-size: 18px;
        color: #7D7D7D;
    }
    .toolbar-content {
        display: flex;
    }

    .buttons {
        color: #7D7D7D;
        .icon {
            font-size: 18px;
            padding: 10px;
        }
    }

    .toolbar-title {
        color: #7D7D7D;
        padding: 0 13px;
    }

    .list-md .item-block .item-inner {
        border-bottom: none;
    }

    .description {
        border-bottom: 1px solid #e5e5e5;
        &:nth-last-child(1) {
            border-bottom: 0;
        }
        h2 {
            font-size: 16px;
            color: #737373;
            font-weight: bold;
        }
        p {
            font-size: 14px;
            color: #737373;
        }
    }
    .filters {
        background: #fff;
        padding: 0 10px 10px;
        .title {
            font-size: 14px;
            color: #737373;
            text-align: center;
            margin: 0;
            position: relative;
            span {
                background: #fff;
                z-index: 2;
                position: relative;
                padding: 0 10px;
            }
            &::after {
                content: '';
                position: absolute;
                background: #737373;
                height: 1px;
                width: 100%;
                left: 0;
                top: 50%;
            }
        }
        label {
            font-size: 14px;
            color: #737373;
            display: block;
            margin: 0 0 5px;
            font-weight: bold;
            &.center {
                text-align: right;
            }
        }
        input[type=text] {
            height: 40px;
            width: 100%;
        }
    }
}
