<ion-header>

  <ion-navbar>
    <ion-title class="ion-title">Equipe</ion-title>

    <div class="buttons">
      <ion-icon name="md-print"></ion-icon>
      <ion-icon name="md-share"></ion-icon>
      <ion-icon name="md-funnel" (click)="visibleFilter = !visibleFilter"></ion-icon>
    </div>
  </ion-navbar>

  <div class="filters" *ngIf="visibleFilter">
    <p class="title"><span>Filtros</span></p>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <label>Data Inicial</label>
          <input type="text" placeholder="19/06/2018"/>
        </ion-col>
        <ion-col col-6>
          <label class="center">Data Final</label>
          <input type="text" placeholder="19/06/2018"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of currentUsers" class="description">
      <ion-avatar item-start>
        <img src="{{ item?.thumb }}">
      </ion-avatar>
      <h2>{{ item?.name }}</h2>
      <p>{{ item?.function }}</p>
      <p>{{ item?.document }}</p>
    </ion-item>
  </ion-list>
</ion-content>